<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body style="background-image: url('images/nat.jpg');" >
    <h1 style="text-align: center;">Register Page</h1>
    <div class="container my-5">
        <div class="row" >
            <div class="col-md-6 offset-md-3 bg-dark text-white" style="height: 350px;box-shadow: 3px 5px black;opacity: 0.7;" >
    <form action="/registration-page" method="post" style="margin-top: 30px;">
        <div>
            <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="YourEmail">
        </div>
        <div>
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="YourPassword">
        </div>
        <div>
            <label for="" class="form-label">Confrim Password</label>
            <input type="password" class="form-control" name="" placeholder="ConfirmPassword">
        </div>
        <div>
            <label for="" class="form-label" >BVN</label>
            <input type="number" class="form-control" name="bvn" placeholder="YourBVN">
        </div>
        <button type="submit">Submit</button>
        
    </form>
</div>
</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>