*{
    padding: 0;
    margin: 0;
}



.blood{
    text-decoration: none;
    color: black;
}



/* .progress-bar-container {
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .progress {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
  } */
  
  /* .progress-circle {
    background-color: #ddd;
    border-radius: 50%;
    overflow: hidden;
  } */
  
  /* .progress-bar {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #4CAF50;
  } */
  
  /* .progress-left .progress-bar {
    left: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transform-origin: left center;
  } */
  
  /* .progress-right .progress-bar {
    right: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transform-origin: right center;
  } */
  
  /* .progress-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50;
  }
  
  [data-value="0"] .progress-bar {
    width: 0%;
  }
  
  [data-value="100"] .progress-bar {
    width: 100%;
  } */